@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0 10px 0;
  background-color: white;
  
}

.logo {
  /* background-image: url(./images/spaLogo.png); */
  width: 110px;
  height: 70px;
  display: flex;
  flex-direction: column;
}
.logo img {
  height: 60px;
  position: relative;
}
.logo span {
  position: absolute;
  top: 55px;
font-size: 22px;
font-style: italic;
font-weight: 700;
font-family: 'Tangerine', cursive;
  color: var(--text-color);
}
.links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.links li {
  margin-right: 30px;
  font-size: 20px;
}

.links a {
  text-decoration: none;
}

.actions img {
  height: 20px;
  width: 20px;
  margin-right: 16px;
  cursor: pointer;
}
